<mat-tab-group>
  <mat-tab label="Main" class="mat-tab-label-active">
    <div class="container">

      <div flex fxLayout="row">
        <div fxFlex="70" ><p>Working enable:</p></div>
        <div fxFlex="30" class="on-off"><mat-slide-toggle class="mat-checked" (change)="onChangeWorkHours(0)"></mat-slide-toggle></div>
      </div>

      <div flex fxLayout="row">
        <div fxFlex="70" ><p>Working hours:</p></div>
        <div fxFlex="30" class="on-off"><mat-slide-toggle type="checkbox" [checked]="isWorkinghours" (change)="onChangeWorkHours(1)"></mat-slide-toggle></div>
      </div>
      
      <mat-slider [disabled]="isWorkinghours" min="1" max="5" step="0.5" value="1.5"></mat-slider>
      
    </div>

    <hr/>

    <div class="container">

      <p>Set disk sharing spare:</p>
      <div flex fxLayout="row">
        <div fxFlex="20" >
          <form class="disk-sharing">
            <mat-form-field>
              <textarea matInput placeholder="20"></textarea>
            </mat-form-field></form>
          </div>
        <div fxFlex="20" class="on-off"><p>GB</p></div>
      </div>
    </div>

    <hr/>

    <div class="container">
        <p>Balance: {{denetRes?.userId}}</p>
    </div>

    <form class="bottom-form">
      <mat-form-field class="example-full-width">
        <input matInput value="xo–denet.server.app">
      </mat-form-field>
    </form>

  </mat-tab>
  <mat-tab label="Statistic">
    <div class="container">

      <div flex fxLayout="row">
        <div fxFlex="60" ><p>Network:</p></div>
        <div fxFlex="40" class="on-off">{{denetRes?.userId}}/10</div>
      </div>

      <div flex fxLayout="row">
        <div fxFlex="60" ><p>Disk using:</p></div>
        <div fxFlex="40" class="on-off">10/20 GB</div>
      </div>

      <div flex fxLayout="row">
        <div fxFlex="60" ><p>Internet using:</p></div>
        <div fxFlex="40" class="on-off">1 mbit/s</div>
      </div>
      
    </div>
    <hr/>

    <div class="text-center">
        <div class="row">
            <div class="col-md-6">
              <div style="display: block;">
              <canvas baseChart width="400" height="400"
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [colors]="red"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 10px">
              <table class="table table-responsive table-condensed">
                <tr>
                  <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of lineChartData">
                  <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                </tr>
              </table>
              <button (click)="randomize()">CLICK</button>
            </div>
          </div>
        <!-- <div class="text">1 mbit/s</div> -->
      </div>
      
    <form class="bottom-form">
        <mat-form-field class="example-full-width">
          <input matInput value="xo–denet.server.app">
        </mat-form-field>
      </form>
  </mat-tab>

</mat-tab-group>