/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

@include mat-core();

$primary: mat-palette($mat-pink, 500);
$accent:  mat-palette($mat-pink, 500, A200, A400);
$warn:    mat-palette($mat-indigo, 500);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
    margin:0px;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.tab1 {
    width:50%;
    }


.mat-tab-label {
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    min-height: 70px;
    font-size:18px;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus {
    background-color: #fff;
    border:none;
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled) {
    background-color: #F2F2F2;
    border:none;
}

.mat-tab-body-wrapper {
    margin: 30px 15px;
}

hr {
    border-top:0.5px solid #C3C3C3;
    border-width:0.5px;
}

.mat-tab-body-wrapper {
    margin:0px;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #fff0;
}

.mat-tab-header {
    border:none;
}

p {
    font-family: 'Open Sans', sans-serif!important;
    /*font-weight: 600;*/
    font-size:22px;
    color: #666666;
    margin: 0.75rem 0;
}

.container {
    margin:35px;
}

.mat-slider {
    width:100%;
    margin-top:25px;
}

.on-off {
    text-align: right;
    margin: 0.75rem 0;
    color:#B3B3B3;
    font-family: 'Open Sans', sans-serif;
    font-size:22px;
}

.mat-form-field-underline {
    background: none;
}

.disk-sharing-space-input {
    height: 40px;
    width: 55px;
    background-color: #ECEFF0;
}
.disk-sharing {
    height: 40px;
    width: 55px;
    padding: 10px;
    background-color: #ECEFF0;
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
}

.mat-form-field-underline {
    display:none;
}

.bottom-form {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    text-align: center;
    background-color: #ECEFF0;
    margin:10px;
}

.graph{
    background-image: url("assets/img/graph.svg");
    background-size: cover;
    background-position: left bottom;
    min-height: 250px;
    position: relative;
}

.text{
    position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  text-align: center;
  color:#fff;
  margin-bottom:15px;
}

mat-form-field{
    textarea {
        font-size: 40px;
    }
}